@mixin font($weight: normal, $size: inherit, $lineHeight: 1) {
  font-weight: $weight;
  font-size: pxtorem($size);
  font-family: 'Arial';
  font-style: normal;
  font-display: block;
  line-height: pxtorem($lineHeight);
}

@mixin h1 {
  @include font($f-weight-regular, 24, 28);

  @include mobile {
    font-size: pxtorem(18);
    line-height: pxtorem(21);
  }
}

