.registration-form__wrapper {
  @include container;
  @include module-space;

  .registration-form {
    border: 2px solid var(--c-black);
    padding: 32px 16px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  i {
    width: 18px;
    margin-right: 5px;
    
    &.fa-check {
      color: var(--c-green);
    }

    &.fa-times {
      color: var(--c-red);
    }
  }

  ul {
    @include reset-list;
  }
}