.header {
  text-align: center;
  background: var(--c-black);
  padding: 16px;

  @include mobile {
    text-align: left;
    padding-left: 0;
  }

  h1 {
    @include container;

    color: var(--c-white);
  }
}