button {
  color: inherit;
  text-decoration: none;
}

.button {
  color: var(--c-white);
  border: none;
  background-color: var(--c-black);
  padding: 14px 70px;
  transition: all 200ms ease-in-out;
  display: inline-block;
  text-align: center;
  width: 100%;
  border: 2px solid transparent;

  &:hover:not(:disabled),
  &:focus-visible {
    background-color: var(--c-white);
    color: var(--c-black);
    border: 2px solid var(--c-black);
    cursor: pointer;
  }
}
